
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;
    margin-bottom: $section-spacer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-down(sm) {
            height: 22rem;
        }
    }

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    &#about-banner, &#contact-banner {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;

        @include media-breakpoint-up(lg) {
            padding-top: 9rem;
            padding-bottom: 6rem;
        }
    }
}
