
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-down(sm) {
            height: 22rem;
        }
    }

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }
}
