
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	background-color: #f9fdfe;
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	img {
		border-radius: 0.5rem;
		width: 100%;
	}

	a {
		display: block;
	}
}

.post-content {
	padding: .875rem 1rem 3rem;

	.entry-title {
		color: $secondary;
	}

	.entry-meta {
		a {
			font-size: 0.875rem;
			color: #a7a8a9;
		}
	}

	.entry-content {
		font-size: 1.125rem;
		font-weight: 300;
		color: $secondary;
		line-height: 1.5;
	}

	.entry-link {
		font-size: 1.25rem;
		font-family: $heading-font;
	}
}
