/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact-info {
	position: absolute;
    top: 13rem;
    right: 18rem;
    background-color: #f9fdfe;
    padding: 4rem 5rem;
	border-radius: 0.5rem;

	h4 {
		font-size: 1.75rem;
	}

	@include media-breakpoint-down(xxl) {
		top: 0;
		right: 0;
	}

	@include media-breakpoint-down(lg) {
		position: relative;
		top: 0;
		right: 0;
		padding: 2rem;
	}
}

#contact {
	h4 {
		font-size: 1.75rem;
		letter-spacing: 0.1rem;
	}

	input,textarea {
		border-color: #d6d7d8;
	}

	label {
		color: #a2a2a2;
		font-size: 0.75rem;
		font-family: $body-font;
		display: block;
		margin-bottom: -1rem;
	}

	button {
		font-size: 1rem;
		padding: 1.2rem 6rem;
		letter-spacing: .1rem;
		font-weight: 600;

		i {
			font-size: 0.9rem;
			margin-left: 0.5rem;
		}
	}
}