
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	padding: 4rem 0;
	background-color: #222222;
}

#footer-top {
	p {
		color: #606060;
	}

	.navbar-brand {
		img {
			width: 7rem;
		}
	}
}

#footer-main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #919191;
}

#copyright {
	color: #808080;
	font-weight: 200;	
	line-height: 2;
	z-index: 1;	
	font-size: 0.75rem;
	margin: 0;
}

