
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

#contact-info {
	position: absolute;
    top: 9rem;
    right: 18rem;
    background-color: #f9fdfe;
    padding: 4rem 5rem;
	border-radius: 0.5rem;

	h5 {
		font-size: 1.75rem;
	}

	@include media-breakpoint-down(xxl) {
		top: 0;
		right: 0;
	}

	@include media-breakpoint-down(lg) {
		position: relative;
		top: 0;
		right: 0;
		padding: 2rem;
	}
}

#contact {
	label {
		color: #a2a2a2;
		font-size: 0.75rem;
		font-family: $body-font;
		display: block;
		margin-bottom: -1rem;
	}

	button {
		letter-spacing: .1rem;

		i {
			font-size: 0.9rem;
			margin-left: 0.5rem;
		}
	}
}