
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-size: 5.75rem;
		font-family: $heading-font;
		font-weight: 700;
		line-height: 1;
		color: $secondary;
	}
}

.page-links {
	font-size: 1.125rem;
	color: $theme-color;
	font-family: $heading-font;
	z-index: 1;

	i {
		margin-left: 2rem;
	}
}
