
/* ----------------------------------------------------------------

	Service.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Service
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for Service pages. Thanks!
-----------------------------------------------------------------*/
.service {
	position: relative;
	margin-bottom: 3rem;

	.service-image {
		position: relative;

		img {
			border-radius: 0.5rem;
		}
	}

	.service-btn {
		position: absolute;
		top: -3rem;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		
		@include transition(all 0.3s ease-in-out);

		a {
			padding: 1.2rem 1.5rem;
			background-color: $white;
			color: $theme-color;
		}
	}

	.service-details {
		background-color: #fdf5f3;
		padding: 1.5rem 2rem;
		margin-top: 0.3rem;
		border-radius: 0.5rem;

		.service-title {
			font-size: 1.0625rem;
			color: #4a4f53;
		}

		.service-price {
			font-size: 1.5rem;
			font-family: 'Abril Fatface', cursive;
			color: $theme-color;
		}
	}

	.service-boundary-point {
		font-size: 0.65rem;
		position: absolute;
		padding: 0.8rem;
		background-color:$white;
		border-radius: 50%;
		color: $theme-color;
		bottom: 4rem;
		left: 45%;
	}

	.service-onvisit {
		font-family: 'Cormorant Unicase', serif;
		position: absolute;
		font-size: 3rem;
		border-radius: 50%;
		padding: 3rem 4.5rem;
		line-height: 3rem;
		top: 3rem;
		right: 7%;
		background-color:$theme-color;
		color: $white;

		@include media-breakpoint-down(md) {
			font-size: 1.5rem;
			padding: 1rem 2rem;
			line-height: 1.5rem;
			top: 1rem;
		}

		p {
			font-family: 'Great Vibes', cursive;
		}
	}

	&:hover {
		.service-btn {
			opacity: 1;
		}
	}
}