
/* ----------------------------------------------------------------

	Service.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Service
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for Service pages. Thanks!
-----------------------------------------------------------------*/
#service {
	@include media-breakpoint-up(lg) {
		position: relative;
		right: -7rem;
		z-index: 1;
	}
}