
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	padding: 1rem;

	.fbox-icon {
		img {
			width: 3rem;
			height: 2.5rem;
		}
	}

	p {
		color: #4f4f4f;
		line-height: 1.5rem;
		font-family: $body-font;
		font-size: 0.875rem;
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}