
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 1.875rem; 
	position: relative;

	.title {
		color: $secondary;
		font-weight: 700;
	}
}