
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 4.25rem; 
	position: relative;

	.title {
		color: $secondary;
		font-family: $heading-font;
		font-weight: 700;
	}

	.sub-title {
		font-size: 1.325rem;
	}

	.attach-link {
		font-size: 1.0625rem;
		color:#acaeaf;
		text-decoration: none;
		font-family: $body-font;

		&:hover {
			color: $theme-color;
		}

		i {
			font-size: 0.9rem;
			margin-left: 0.5rem;
		}
	}
}