
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	padding-bottom: 0.8rem;
	padding-top: 0.5rem;

	.icon-wrapper {
		min-width: 12.5rem;

		span {
			font-family: $heading-font;
			font-size: 1.0625rem;
			color: #737575;
			font-weight: 500;
		}
	}

	.icon-header {
		h4 {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 2.1875rem;
		}
	}
}