
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 1.5rem;

	.icon-wrapper {
		background-color: $theme-color;
		padding: 1.5rem 1.55rem;
		display: inline-block;
		border-radius: 50%;
		line-height: 1;

		i {
			color: $white;
			font-size: 1.3rem;
		}
	}

	span {
		color: #c5c2c1;
		font-family: $body-font;
		font-size: 1.125rem;
	}

	.icon-header {
		display: flex;
		align-items: center;
		line-height: 1;
		color: #504a4a;
	}
}