.logos {
	display: flex;
	justify-content: space-between;
	
	.logo-item {
		width: 9rem;
		height: 8rem;
		display: flex !important;
		justify-content: center;

		img {
			width: auto;
			height: auto;
		}

		@include media-breakpoint-down(sm) {
			margin: auto;
		}
	}
} 