
/*-----------------------------------------------------------------------------------

	Shortcodes: team.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Team member Styles
-----------------------------------------------------------------*/

.team {
    position: relative;
    margin-bottom: 1.875rem 1.5rem;

    .team-image {
        img {
            border-radius: 0.5rem;
            width: 100%;
        }
    }

    .team-details {
        padding: 2.875rem;
        padding-bottom: 0;

        .team-name {
            font-family: $heading-font;
            font-size: 1.875rem;
        }
    
        .team-info {
            font-weight: 300;
            color: #353637;
        }
    }
}